.books-container {
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-flow: column;
    gap: 15px;
    text-align: center;
    margin-top: 15px;
}

.book-card {
    border: 1px solid black;
}

.book-card button{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.read {
    background-color: rgb(130, 252, 130);
}

.not-read {
    background-color: rgb(245, 87, 87);
}